/*reset*/
body {
    font-family:"Microsoft YaHei";
    font-size: 12px;
    color: #5a5a5a;
    background-color: #ffffff
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, button, textarea, p, th,
td {
    margin: 0;
    padding: 0;
}
fieldset, img {
    border: 0;
}
ul, li {
    list-style: none;
}
.clearFix:after,.clearFix:before {
    zoom: 1;
    content:"";
    display: block;
    clear: both;
}
a:link, a:visited {
    color: #5a5a5a;
    text-decoration: none;
}
a:hover {
    color: #5a5a5a;
    text-decoration: underline;
}
/****reset end****/
/*loading start*/
.loading_Init{
    position:absolute;
    left:0;
    width:100%;
    height:100%;
    top:0;
    z-index:10000;
    background-color:#fff;
    text-align: center;
}
  /*loading-3*/
.loading-3{
    width:8%;
    position:relative;
    margin:0 auto;
    top:45%;
    text-align: center;
    opacity: 0.7;
    line-height:40px;
}
.loading-3 p{
    position:relative;
    color:#0c7ed6;
    font-size:20px;
    text-align: center;
    margin-left:-81.5%;
    padding-top:50px;
    min-width:100px;
}
.loading-3 i{
    display:block;
    width:15px;
    height:15px;
    border-radius:50%;
    background-color:#0c7ed6;
    position:absolute;
}
.loading-3 i:nth-child(1){
    top:25px;
    left:0;
    animation:loading-3 1s ease 0s infinite;
}
.loading-3 i:nth-child(2){
    top:17px;
    left:17px;
    animation:loading-3 1s ease -0.12s infinite;
}
.loading-3 i:nth-child(3){
    top:0;
    left:25px;
    animation:loading-3 1s ease -0.24s infinite;
}
.loading-3 i:nth-child(4){
    top:-17px;
    left:17px;
    animation:loading-3 1s ease -0.36s infinite;
}
.loading-3 i:nth-child(5){
    top:-25px;
    left:0;
    animation:loading-3 1s ease -0.48s infinite;
}
.loading-3 i:nth-child(6){
    top:-17px;
    left:-17px;
    animation:loading-3 1s ease -0.6s infinite;
}
.loading-3 i:nth-child(7){
    top:0;
    left:-25px;
    animation:loading-3 1s ease -0.72s infinite;
}
.loading-3 i:nth-child(8){
    top:17px;
    left:-17px;
    animation:loading-3 1s ease -0.84s infinite;
}
@keyframes loading-3 {
    50%{
        transform:scale(0.4);
        opacity:0.3;
    }
    100%{
        transform:scale(1);
        opacity:1
    }
}
/*loading end*/
.toolBar{
    width:100%;
    height:100px;
    position:fixed;
    top:0;
    left:0;
    background-color:rgba(0,0,0,0.7);
    padding:20px 20px;
    box-sizing: border-box;
    min-width: 1200px;
    z-index:9999;
}
.contentPanel{
    width:100%;
    background: #f4f4f4;
    padding-top: 100px;
    overflow: hidden;
}
/****toolBar*/
.toolBar button{
    width:50px;
    height:50px;
    border-radius: 50px;
    display: inline-block;
    margin-right:15px;
    background-color: #ffffff;
    box-sizing: border-box;
    text-align: center;
    cursor:pointer;
    overflow: hidden;
    outline: none;
}
.toolBar button span{
    display: inline-block;
    width:50px;
    height:50px;
    border-radius: 50px;
    margin:-3px -3px;
}
.toolBar button.input-doc span{
    background: url("../img/img_document.png") no-repeat center center;
    background-size: 90% 90%;
}
.toolBar button.zoom-in span{
    background: url("../img/img_zoom.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.zoom-out span{
    background: url("../img/img_narrow.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.mag-glass span{
    background: url("../img/img_mag_glass.png") no-repeat center center;
    background-size: 85% 85%;
}
.magnifyTool{
    border: 4px white solid;
    box-shadow: 2px 2px 10px #1e1e1e;
    border-radius: 50%;
    display: none;
    cursor: none;
}
.toolBar .op-menu{
    position:absolute;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    z-index:9999;
    display: none;
    color:#ffffff;
    font-style: inherit;
}
.toolBar .op-menu li{
    line-height: 20px;
    text-align: center;
    padding:5px 5px;
    cursor:pointer;
}
.toolBar .op-menu li:hover{
    color:#0c7ed6;
}
.toolBar button.rotate-counterClockwise span{
    background: url("../img/img_rotate.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.rotate-clockwise span{
    background: url("../img/img_rotate_cc.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.cal-length span{
    background: url("../img/img_cal_length.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.annotation span{
    background: url("../img/img_annotation.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.play-clip span{
    background: url("../img/img_play_clip.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.pause-clip span{
    background: url("../img/img_pause_clip.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.save-doc span{
    background: url("../img/img_save.png") no-repeat center center;
    background-size: 75% 75%;
}
.toolBar button.save-doc{
    float:right;
}
.toolBar button.help{
    float:right;
    cursor:help;
}
.toolBar button.help span{
    background: url("../img/img_help.png") no-repeat center center;
    background-size: 75% 75%;
}
.toolBar button.interpolation-doc span{
    background: url("../img/img_interpolation_doc.png") no-repeat center center;
    background-size: 75% 75%;
}
.toolBar button.invert-doc span{
    background: url("../img/img_invert_doc.png") no-repeat center center;
    background-size: 70% 70%;
}
.toolBar button.actual-doc span{
    background: url("../img/img_actual_size.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.flip-doc span{
    background: url("../img/img_flip_doc.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.reverse-doc span{
     background: url("../img/img_reverse_doc.png") no-repeat center center;
     background-size: 85% 85%;
}
.toolBar button.full-screen span{
    background: url("../img/img_full_screen.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button.threedMode span{
    background: url("../img/img_threedmode.png") no-repeat center center;
    background-size: 85% 85%;
}
.toolBar button:hover span{
    background-size: 100% 100%;
}
/*contentPanel*/
.mainPanel{
    width:90%;
    height:100%;
    margin:0 auto;
    background: #ffffff;
    box-shadow: 0 0 5px 10px rgba(200,200,200,0.1);
    overflow: auto;
    position: relative;
    min-width: 1600px;
}
.mainPanel .notice-txt{
    position:absolute;
    text-align:center;
    font-size:50px;
    opacity:0.3;
    padding-top:150px;
}
/*input-dialog*/
.input-dialog{
    width:100%;
    height:100%;
    position:absolute;
    left:0;
    top:0;
    background-color:rgba(0,0,0,.6);
    text-align: center;
    padding-top:120px;
    box-sizing: border-box;
    z-index:10;
    display: none;
    min-width: 1200px;
}
.doc-dialog{
    width:600px;
    margin:0 auto;
    position: relative;
}
.doc-closebox{
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 30px;
    text-align: center;
    line-height: 16px;
    color: #ffffff;
    border: 2px solid #ffffff;
    cursor:pointer;
    transform: rotate(0deg);
    transition:200ms;
}
.doc-closebox:hover{
    transform: rotate(180deg);
    transition:200ms;
}
.doc-picker{
    width:100%;
    text-align: left;
}
.doc-picker label{
    text-align: left;
    font-size:18px;
    font-weight:300;
    color:#ffffff;
    padding:2px 0;
}
.doc-picker input{
    width:64%;
    display: block;
    margin:20px 0;
    border-radius: 2px;
    border:1px solid #f6f6f6;
    padding:2px 5px;
    background-color:#f6f6f6;
    box-sizing: border-box;
}
.doc-picker .ui-selectmenu-button.ui-button{
    display: block;
    margin:20px 0;
    width:60%;
}
.doc-picker .readingProgress{
    margin:10px 0;
    padding:3px;
    border: 1px solid #000;
    border-radius:5px;
    font-size: 14px;
    clear: both;
    opacity: 0;
    transition:opacity 1s linear;
    text-align: center;
}
.doc-picker .readingProgress.loading {
    opacity: 1.0;
}
.readingProgress.percent{
    background-color: rgba(246,246,246,1);
    height: auto;
    width: 0;
}
.confirm-btn .ui-icon-gear{
    background-position: -208px -192px;
}
.help-dialog p{
    font-size:18px;

}
/*contentPanel--canvas*/
#dicomImageWrapper div:nth-child(n+2){
    /*border:1px dotted #ffffff;*/
}
input#ww,input#wc{
    width:100px;
}
label[for="ww"],label[for="wc"]{
    font-style: italic;
    font-weight:bold;
}
/*dialog setting*/
div[class^="dialog_"]{
    display:none;
    text-align:center;
    font-size: 14px;
    font-weight: 400;

}
/*3D panel*/
#threeDWrapper{
    width:35%;
    position: absolute;
    height:512px;
    display: none;
    overflow: auto;
    top:0;
    right:0;
}
.threeDModeOn{
    display:inline-block;
}
#threeDWrapper #container{
    width:100%;
    height:512px;
}
.dg{
    display: none;
}